body{
    width: 100%;
    height: 50%;
	font-family: Helvetica,sans-serif;
}
#wrap{
    width: 100%;
    height: 80%;
    margin: auto;
    background: #e3e3e3;
    overflow: hidden;
}
.container{
    margin-right: 50px;
}
#landing{
    width: 100%;
    height: 80%;
    background: #e3e3e3;
}
input[type=text],select{
    float: center;
	border: 5px solid #fff;
	border-radius: 5px;
    width: 60%;
    height: 50%;
	display: block;
}
input[type=email],input[type=password]{
    float: center;
	border: 5px solid #fff;
	border-radius: 5px;
    width: 60%;
    height: 50%;
    display: block;
    margin: 5px;
    padding: 5px;
}
.txt-01{
    text-align: justify;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 22px;
    padding: 100px 300px 0px 300px;
    margin-bottom: 100px;
}
.txt-02{
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 20px;
    padding: 100px 300px 0px 300px;
}
input[type=number]{
    float: center;
	border: 5px solid #fff;
	border-radius: 5px;
    width: 25%;
    height: 50%;
}
.rodape{
    width: 100%;
    height: 50px;
    background-color:	#495868;
    display:block;
    float: center;
    padding: 1% 1%;
	text-align: center;
}
.rodape0{
    width: 100%;
    height: 50px;
    background-color:	#495868;
    position: absolute;
    display:block;
    float: center;
    text-align: center;
    overflow: hidden;
    padding: 5px 0 10px 0;
}
.btnL{
    float: center;
    cursor: pointer;
    margin: 0 0 0 30%;
    border: 1.5px solid;
    border-radius: 5px;
    padding: 15px;
}
.copyright{
	margin-top: 2%;
	color: rgba(255,255,255,0.7);
}
.btn-descritiva{
    font-size: 100%;
    margin: 0% 4% 0% 30%;
    float: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 5px;
    padding: 15px;
    width: 35%;
    box-shadow: 1px 1px 0px #000000;
}
.btn-probabilidade{
    margin: 0% 4% 10% 30%;
    float: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 5px;
    padding: 15px;
    width: 35%;
    box-shadow: 1px 1px 0px #000000;
}
.btn-login{
    margin: 0% 4% 0% 50%;
    float: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 5px;
    padding: 10px;
    width: 10%;
    box-shadow: 1px 1px 0px #000000;
    position: relative;
}
.link-conv{
    margin: 0;
    padding: 0;
    float: center;
    text-decoration: none;
    display: block;
    color: black;
}
.link-conv:hover{
    text-decoration: underline;
}
.title2{
    text-align: center;
    margin: auto;
    padding: 22px 10px 22px 30%;
    display: flex;
    background-color: #efefef;
}
h1{
    text-align: center;
}
.txtH{
    margin: 50px 0 0 0;
    padding: 50px 30px 0;
}
.label{
    font-size:20px;
}
.cabecalho{
    background-color: #495868;
}
header label{
    color: #efefef;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    display: none;
}
header label:hover{
    background-color: #0c0a08;
}
#btn-menu{
    display:none;
}
.menu .priItem{
    list-style: none;
    margin: 0px 100px;
    padding: 0;
    display: flex;
}
.dropdown{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.dropdown:hover{
     overflow: visible; 
}
.subItem{
    list-style: none;
    display: block;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
}
.subLink{
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    margin: 0px 10px;
    background-color: #495868;
    color: #fff;
    border-top: 1px solid;
    border-color: #cac9c9;
    font-size: 90%;
}
.subLink:hover{
    background-color: #cac9c9;
    color: #495868;
}
.menu .menu-link{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    margin: 0px 10px;
}
.menu-link:hover{
    background-color: #cac9c9;
    color: #495868;
}
form{
    margin:auto;
    font-weight: bold;
    display: block;
    padding: 40px 40px 70px 25%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:rgb(20, 20, 20);
}
.form-core .label{
    margin-bottom: 10px;
    display: block;
}
.form-core{
    margin: 0% 0 0% 0%;
}
.btn-core{
    margin: 0% 4% 20% 30%;
    float: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 5px;
    padding: 15px;
    width: 35%;
    box-shadow: 1px 1px 0px #000000;
}
button:active{
    top:5px;
    position: relative;
    box-shadow: none;
}
.login{
    font-weight: bold;
    display: block;
    padding: 100px 40px 20% 25%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:rgb(20, 20, 20);
    margin-bottom: 100px;
}
.form-medidas{
    padding: 0px 40px 70px 25%;
}
.form-home{
    padding: 40px 100px 200px 80px;
}
.form-probabilidade{
    padding: 40px 100px 100px 25%;
}
.medidas{
    float: center;
	border: 5px solid #fff;
	border-radius: 5px;
    width: 25%;
    height: 50%;
	display: block;
}
.btn-link{
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    padding: 50%;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom:40px;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    background: #495868;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: rgb(27, 27, 27);
    border-width: 2px;
    width: 35%;
}
.btn-link:active{
    top:5px;
    position: relative;
    box-shadow: none;
}
.dropdownP{
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.dropdownP:hover{
    overflow: visible;
}
.titulo{
    float: center;
    background: #e3e3e3;
    margin:auto;
    border-style:solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1.5px;
    padding:20px;
}
.fas .fa-chart-bar{
    margin: 3px;
}
.scroll{
    overflow: auto;
}
.explica{
    font: bold;
    color: rgba(20, 20, 20, 0.74);
}
h2{
    text-align: center;
}
/*########################### Tabela ###########################*/
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #030303;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1.5px solid #000000;
}
th {
    text-align: inherit;
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.tabela-cor {
    color: rgb(236, 236, 236);
    background-color: #495868;
}
table {
    border-collapse: collapse;
}
table {
    margin: auto;
    text-align: center;
    display: table;
    border-spacing: 1.5px;
    border-color: #e3e3e365;
    border-style: solid;
    border-width: 2px;
}
#resultados{
    margin:80px 0px 30px 50px;
    font-size: 20px;
    text-align: center;
}
#resultados2{
    font-size: 20px;
    text-align: center;
}
/*Small devices - Smartphones*/
@media screen and (max-width: 768px){
    h1{
        font-weight: 400;
    }
    .label{
        font-size: 15px;
    }

    header label{
        display: block;
    }
    .menu .priItem{
        position: absolute;
        background-color: #495868;
        width: 70%;
        flex-direction: column;
        margin-left: -70%;
    }
    .menu li a{
        border-top: 1px solid #efefef;
    }
    #btn-menu:checked ~ .menu .priItem{
        margin-left: 0;
        
    }
    input,select{
        float: center;
        display: block;
    }
    .btn-link{
        font-weight: 400;
        text-align: center;
        padding: 50%;
        margin-bottom:40px;
        padding: 15px;
        text-decoration: black;
        background: #495868;
        border-style: solid;
        border-width: 2px;
        font-size: 12px;
    }
    .btn-login{
        font-size: 8px;
        margin-bottom: 100px;
    }
    .login{
        font-weight: bold;
        display: block;
        padding: 100px 40px 20% 25%;
        line-height: 1.5rem;
        color:rgb(20, 20, 20);
        font-size: 15px;
    }
    .explica{
        font-size: 15px;
    }
    .txt-01{
        padding: 20px;
        margin-bottom: 200px;
    }
}